<!DOCTYPE html>
<html>
<!-- Slate -->
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <script src="jquery-3.1.1.min.js"></script>
    <title>西方世界的劫难4 v1.03</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">西方世界的劫难4 v1.03</h1>
        <h2 id="project_tagline">物品列表</h2>
      </header>
    </div>

    <div id="my-content">